# OS files
.DS_Store

# npm / bun
node_modules
*-debug.log

# Go build artifacts
/dnd-multi-backend

# Code coverage
/coverage

# Output
packages/*/dist
webpack-stats.json

# IDE
.vscode

/examples/*.js
