# OS files
.DS_Store

# Input
/src

# Webpack
/webpack
webpack.config.js

# Output
/examples

# npm
node_modules
npm-debug.log

# Config
.babelrc
.eslint*
.mocha.opts
.nycrc
.github

# Code coverage
.nyc_output
coverage
